.App h1,
.text-title,
.preview-title {
  text-align: center;
  margin: 2rem 0;
  color: #61DBFB;
}
.App-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1024px) {
  .App-container {
    flex-flow: wrap column;
    align-items: center;
  }
}

/* Editor */
#editor {
  min-width: 320px;
  min-height: 400px;
  resize: none;
  resize: vertical;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #000;
  outline: none;
}

/* Preview */
#preview {
  min-width: 320px;
  min-height: 400px;
  padding: 1rem 2.5rem;
  background-color: #3c3c3c;
  border-radius: 1rem;
  border: 1px solid #000;
}
/* #preview img {
  width: ;
}
 */

 footer {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
 }
 footer a{
  text-decoration: none;
  color: #000;
 }